pre code.hljs {
  display: block;
  padding: 1.2rem;
  overflow-x: auto;
  @apply text-[15px] leading-relaxed rounded-lg my-4 shadow-sm;
  font-family: 'JetBrains Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}

.hljs {
  color: #e4e4e7;
  background: #18181b;
}

.hljs-comment {
  color: #71717a;
  font-style: italic;
}

.hljs-quote {
  color: #b3c7d8;
}

.hljs-deletion,
.hljs-name,
.hljs-regexp,
.hljs-selector-class,
.hljs-selector-id,
.hljs-tag,
.hljs-template-variable,
.hljs-variable {
  color: #f87171;
}

.hljs-built_in,
.hljs-literal,
.hljs-number,
.hljs-subst .hljs-link,
.hljs-type {
  color: #fb923c;
}

.hljs-attribute {
  color: #fbbf24;
}

.hljs-addition,
.hljs-bullet,
.hljs-params,
.hljs-string {
  color: #a3e635;
}

.hljs-class,
.hljs-function,
.hljs-keyword,
.hljs-selector-tag {
  color: #c084fc;
}

.hljs-meta,
.hljs-section,
.hljs-title {
  color: #60a5fa;
}

.hljs-symbol {
  color: #dbc4d9;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: 700;
}
