#post {
  p,
  h2,
  h3,
  h4,
  h5,
  h6,
  li,
  th,
  td {
    font-family:
      'Pretendard Variable',
      Pretendard,
      -apple-system,
      BlinkMacSystemFont,
      system-ui,
      Roboto,
      'Helvetica Neue',
      'Segoe UI',
      'Apple SD Gothic Neo',
      'Noto Sans KR',
      'Malgun Gothic',
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol',
      sans-serif;
    @apply text-stone-200 font-bold;
  }

  p {
    @apply text-[20px] font-thin leading-9 tracking-wide py-4;
    @media screen(sm) {
      @apply text-[22px];
    }
    strong {
      @apply font-semibold;
    }
  }
  h1 {
    @apply pb-2 pt-8 text-4xl leading-10;
  }

  h2 {
    @apply pb-2 pt-8 text-4xl leading-10;
  }

  h3 {
    @apply pb-2 pt-6 text-3xl leading-10;
  }

  h4 {
    @apply pb-1 pt-4 text-2xl leading-10;
  }

  pre {
    @apply mb-8 m-auto rounded-lg max-w-[90vw] text-lg leading-8 relative;
    code {
      @apply rounded-lg border border-stone-600 bg-neutral-800;
    }
    button {
      @apply absolute right-4 top-4 h-10 w-10 rounded-md border border-stone-600 fill-stone-600 p-2 scale-0 transition-all flex justify-center items-center bg-background;
      svg {
        @apply w-6 h-6;
      }
      &.copied {
        @apply border-lime-600;
        @apply fill-lime-600;
      }
      &:hover {
        @apply scale-105;
      }
    }
    code:hover + button {
      @apply scale-100;
    }
  }

  table {
    @apply w-full text-lg font-thin;
    thead {
      @apply border-b-2 border-stone-600;
      th {
        @apply font-semibold py-2 px-8 text-left;
      }
    }
    tbody {
      td {
        @apply py-2 px-8 font-thin border-t border-stone-600;
      }
    }
  }

  img {
    @apply rounded-lg;
  }

  ul {
    @apply py-4;
    li {
      @apply pb-1 font-light text-lg;
      &.task-list-item:has(p) {
        p {
          @apply flex items-center m-0 py-1 font-light text-lg;
        }
      }
      &.task-list-item:not(:has(p)) {
        @apply flex items-center;
      }
      &:not(.task-list-item) {
        @apply list-disc list-inside;
      }
      input {
        @apply mr-4 w-5 h-5;
      }
    }
  }

  blockquote {
    @apply border-l-4 border-stone-600 pl-4 py-1 my-2;
    p {
      @apply text-stone-400 p-0;
    }
  }

  details {
    @apply border border-stone-600 rounded-lg p-4 my-4;
  }

  a {
    @apply text-cyan-500 hover:underline;
  }

  code:not(.hljs) {
    @apply mx-1 rounded-md bg-stone-700 px-2 py-1 text-lg font-medium text-stone-200;
  }
}
